[submodule "llvm"]
	path = compiler
	url = git@github.com:RadeonOpenCompute/llvm.git
	branch = amd-common
[submodule "lld"]
	path = lld
	url = git@github.com:RadeonOpenCompute/lld.git
	branch = amd-common
[submodule "clang"]
	path = clang
	url = git@github.com:RadeonOpenCompute/hcc-clang-upgrade.git
	branch = clang_tot_upgrade
